* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px Helvetica, Arial;
}

.separate {
  border-bottom: 0.2rem solid #121212
}

.list {
  margin-bottom: 1rem;
  margin-left: 0.1rem;
}