/* https: //www.google.com/search?client=firefox-b-d&q=sass+to+css+online with MarkdownCSS.css */
/* <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> */
.markdown>* {
  line-height: 1.6;
  text-rendering: optimizelegibility;
  /* Use your custom CSS here to control max-width of images and videos etc */
}

.markdown>*:first-child {
  margin-top: 2rem !important;
}

.markdown>*:last-child {
  margin-bottom: 0 !important;
}

.markdown a {
  color: #4183C4;
}

.markdown a :hover {
  opacity: 0.8;
}

.markdown a.absent {
  color: #cc0000;
}

.markdown a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  cursor: text;
  position: relative;
}

.markdown h1 tt, .markdown h1 code {
  font-size: inherit;
}

.markdown h2 tt, .markdown h2 code {
  font-size: inherit;
}

.markdown h3 tt, .markdown h3 code {
  font-size: inherit;
}

.markdown h4 tt, .markdown h4 code {
  font-size: inherit;
}

.markdown h5 tt, .markdown h5 code {
  font-size: inherit;
}

.markdown h6 tt, .markdown h6 code {
  font-size: inherit;
}

.markdown h1 {
  font-size: 28px;
  /* color: black; */
}

.markdown h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  /* color: black; */
}

.markdown h3 {
  font-size: 18px;
}

.markdown h4 {
  font-size: 16px;
}

.markdown h5 {
  font-size: 14px;
}

.markdown h6 {
  color: #777777;
  font-size: 14px;
}

.markdown p, .markdown blockquote, .markdown ul, .markdown ol, .markdown dl, .markdown li, .markdown table, .markdown pre {
  margin: 15px 0;
}

.markdown hr {
  /* use box-shadow and border here? */
  box-shadow: 0 0 1px black;
  border: 0 none;
  color: #cccccc;
  height: 1px;
  padding: 0;
}

.markdown>h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

.markdown>h1:first-child {
  margin-top: 0;
  padding-top: 0;
}

.markdown>h1:first-child+h2 {
  margin-top: 0;
  padding-top: 0;
}

.markdown>h3:first-child, .markdown>h4:first-child, .markdown>h5:first-child, .markdown>h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.markdown a:first-child h1, .markdown a:first-child h2, .markdown a:first-child h3, .markdown a:first-child h4, .markdown a:first-child h5, .markdown a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

.markdown h1 p, .markdown h2 p, .markdown h3 p, .markdown h4 p, .markdown h5 p, .markdown h6 p {
  margin-top: 0;
}

.markdown li p.first {
  display: inline-block;
}

.markdown ul, .markdown ol {
  padding-left: 30px;
}

.markdown ul :first-child, .markdown ol :first-child {
  margin-top: 0;
}

.markdown ul :last-child, .markdown ol :last-child {
  margin-bottom: 0;
}

.markdown dl {
  padding: 0;
}

.markdown dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.markdown dl dt:first-child {
  padding: 0;
}

.markdown dl dt> :first-child {
  margin-top: 0;
}

.markdown dl dt> :last-child {
  margin-bottom: 0;
}

.markdown blockquote {
  border-left: 4px solid #cccccc;
  padding: 0 15px;
  color: #777777;
}

.markdown blockquote> :first-child {
  margin-top: 0;
}

.markdown blockquote> :last-child {
  margin-bottom: 0;
}

.markdown table {
  padding: 0;
}

.markdown table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

.markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.markdown table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.markdown table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.markdown table tr th :first-child, .markdown table tr td :first-child {
  margin-top: 0;
}

.markdown table tr th :last-child, .markdown table tr td :last-child {
  margin-bottom: 0;
}

.markdown img {
  max-width: 100%;
}

.markdown span.frame {
  display: block;
  overflow: hidden;
}

.markdown span.frame>span {
  border: 1px solid;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}

.markdown span.frame span img {
  display: block;
  float: left;
}

.markdown span.frame span span {
  clear: both;
  display: block;
  padding: 5px 0 0;
}

.markdown span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown span.align-center>span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}

.markdown span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.markdown span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown span.align-right>span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}

.markdown span.align-right span img {
  margin: 0;
  text-align: right;
}

.markdown span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}

.markdown span.float-left span {
  margin: 13px 0 0;
}

.markdown span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}

.markdown span.float-right>span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}

.markdown code, .markdown tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #ea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.markdown pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.markdown .highlight pre {
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.markdown pre {
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.markdown pre code, .markdown pre tt {
  background-color: transparent;
  border: none;
  /* 
    Give a default font("Helevetica or whatever you want") 
    if the custom font Inconsolata shows errors. 
  */
  font-family: Inconsolata, Helvetica;
  font-size: 1.45rem;
}

.markdown p {
  font-size: 1.8rem;
  text-overflow: ellipsis;
}

@media all and (max-width: 48rem) {
  .markdown h1 {
    font-size: 2.5rem;
  }
  .markdown p {
    font-size: 1.6rem;
  }
}

@media all and (max-width: 38.4rem) {
  .markdown h1 {
    font-size: 2rem;
  }
}

@media all and (max-width: 29.2rem) {
  .markdown p {
    font-size: 1.5rem;
  }
}
