<header class="fixed border-white index-one">
    <nav>
        <ul
            class="topnav x-ul max-width-percent white theme-black font-normal flex-row-center"
            role="navigation"
        >
            <li class="margin-left-six margin-right-auto" >
                <a
                    class="white x-text-decoration hover transition-half"
                    href="/"
                >
                    © Steadylearner
                </a>
            </li>
            <li class="topnav__login margin-right-one hover transition-half" >
                <a
                    class="white x-text-decoration"
                    href="/login"
                    title="This is a path to Steadylearner Website"
                >
                    Login
                </a>
            </li>
            <!-- Use if statements here -->
            <!-- <a href="/logout">Sign Out</a> -->
            <li class="topnav__sign-up margin-right-two hover transition-half" >
                <a
                    class="white x-text-decoration"
                    href="/register"
                    title="This is a path to Steadylearner Website"
                >
                    Sign Up
                </a>
            </li>
        </ul>
    </nav>
</header>
