.editPassword {
    max-width: 28rem;
    min-height: calc(100vh - 10rem);
    padding: 2rem;
}

.editPassword__title {
    padding-bottom: 0.5rem;
}

.editPassword__image-wrapper {
    max-height: 21rem;
}

.editPassword__image {
    width: 16rem;
    height: 16rem;
}

.button--save-password {
    color: #121212;
    /* padding: 0.5rem 1rem; */
}

.button--view-profile {
    padding: 0.5rem 1rem;
    width: 100%;
}

label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

input {
    max-width: 100%;
}