<!DOCTYPE HTML>
<html>
    <head>
        <%- include('partials/head') %>
        <title>Edit your password <%= profile.fullname %></title>
        <link rel="stylesheet" href="/css/editPassword.css">
    </head>
    <body>
        <%- include('partials/topnav') %>
        <section class="theme-black-white" >
            <section class="editPassword font-normal margin-center-auto theme-white" >
                <h1 class="font-two" >Edit Password</h1>
                <form class="flex flex-flow-column" action="/password/edit" method="POST" onsubmit="return validateEditPassword()">
                    <label for="oldpassword" >Old Password: </label>
                    <input type="password" name="oldpassword" id="oldpassword">
                    <label for="newpassword">New Password: </label>
                    <input type="password" name="newpassword" id="newpassword">
                    <label for="cpassword" >Confirm Password: </label>
                    <input type="password" name="cpassword" id="cpassword">
                    <button class="button--save-password margin-top-one hover" type="submit">
                        Save Password
                    </button>
                </form>
                <!-- Show the messages from the server -->
                <!-- <label>{{ profile.message }}</label> -->
                <a href="/profile/steadylearner">
                    <button
                        class="button--view-profile theme-blue white border-radius-half x-border-style margin-top-one hover"
                        type="button"
                        href="/profile/<%= profile.username %>"
                    >
                        View Profile
                    </button>
                </a>
            </section>
        </section>
    </body>
    <script type="text/javascript" src="/js/editPassword.js"></script>
</html>

