<!DOCTYPE HTML>
<html>
    <head>
        <%- include('partials/head') %>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <%- include('partials/topnav') %>
        <main class="font-normal x-display">
            <section>
                Welcome to <%= title %>
            </section>
        </main>
    </body>
</html>
