<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel=icon href="https://avatars0.githubusercontent.com/u/32325099?s=460&v=4"/>
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
    </main>
  </body>
</html>

