.margin-left-a-point {
    margin-left: 0.1rem;
}

.margin-right-a-point {
    margin-right: 0.1rem;
}

.margin-top-a-point {
    margin-top: 0.1rem;
}

.margin-bottom-a-point {
    margin-bottom: 0.1rem;
}

.margin-left-two-point {
    margin-left: 0.2rem;
}

.margin-right-two-point {
    margin-right: 0.2rem;
}

.margin-top-two-point {
    margin-top: 0.2rem;
}

.margin-bottom-two-point {
    margin-bottom: 0.2rem;
}

.margin-left-a-quarter {
    margin-left: 0.25rem;
}

.margin-right-a-quarter {
    margin-right: 0.25rem;
}

.margin-top-a-quarter {
    margin-top: 0.25rem;
}

.margin-bottom-a-quarter {
    margin-bottom: 0.25rem;
}

.margin-left-half {
    margin-left: 0.5rem;
}

.margin-right-half {
    margin-right: 0.5rem;
}

.margin-top-half {
    margin-top: 0.5rem;
}

.margin-bottom-half {
    margin-bottom: 0.5rem;
}

.margin-left-one {
    margin-left: 1rem;
}

.margin-right-one {
    margin-right: 1rem;
}

.margin-top-one {
    margin-top: 1rem;
}

.margin-bottom-one {
    margin-bottom: 1rem;
}

.margin-left-one-and-a-half {
    margin-left: 1.5rem;
}

.margin-right-one-and-a-half {
    margin-right: 1.5rem;
}

.margin-top-one-and-a-half {
    margin-top: 1.5rem;
}

.margin-bottom-one-and-a-half {
    margin-bottom: 1.5rem;
}

.margin-left-two {
    margin-left: 2rem;
}

.margin-right-two {
    margin-right: 2rem;
}

.margin-top-two {
    margin-top: 2rem;
}

.margin-bottom-two {
    margin-bottom: 2rem;
}

.margin-left-two-and-a-half {
    margin-left: 2.5rem;
}

.margin-right-two-and-a-half {
    margin-right: 2.5rem;
}

.margin-top-two-and-a-half {
    margin-top: 2.5rem;
}

.margin-bottom-two-and-a-half {
    margin-bottom: 2.5rem;
}

.margin-left-four {
    margin-left: 4rem;
}

.margin-right-four {
    margin-right: 4rem;
}

.margin-top-four {
    margin-top: 4rem;
}

.margin-bottom-four {
    margin-bottom: 4rem;
}

.margin-left-five {
    margin-left: 5rem;
}

.margin-right-five {
    margin-right: 5rem;
}

.margin-top-five {
    margin-top: 5rem;
}

.margin-bottom-five {
    margin-bottom: 6rem;
}

.margin-left-six {
    margin-left: 6rem;
}

.margin-right-six {
    margin-right: 6rem;
}

.margin-top-six {
    margin-top: 6rem;
}

.margin-bottom-six {
    margin-bottom: 6rem;
}