backcall==0.1.0
decorator==4.4.1
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.15.1
parso==0.5.1
pendulum==2.0.5
pexpect==4.7.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==2.0.10
ptyprocess==0.6.0
Pygments==2.4.2
python-dateutil==2.8.1
pytzdata==2019.3
six==1.13.0
traitlets==4.3.3
ujson==1.35
uvloop==0.14.0
vibora==0.0.6
wcwidth==0.1.7
