<html>
<head>
<title>Change Password</title>
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>
</head>
<body>
<h1>Change password</h1>
<p>{{ msg }}</p>
<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
	<p>Old Password: <input type="password" name="oldpassword"></p>
	<p>New Password: <input type="password" name="newpassword" id="newpassword"></p>
	<p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>
	<input type="submit" value="Save">
</form>
<a href="{{ url_for('profileHome') }}">Go to Profile</a>
</body>
</html>


